* {box-sizing: border-box;}
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.navbar {
    padding-left: 15px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-right: 100px !important;
    height: 50px;
}

.logo {
    height: 30px;
    margin-right: 10px;
}

.overflow {
    opacity: 75%;
}

.overflow:hover {
    opacity: 100%;
}

.invert {
    filter: invert(100%);
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
outline: 0!important;
outline-color: transparent!important;
outline-width: 0!important;
outline-style: none!important;
box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
}

main {
    margin: 0px 5%;
    margin-top: 15px;
}

.mobile-portfolio {
    display: none;
}

.portfolio {
    display: flex;
}

@media screen and (max-width: 720px) {
    .portfolio {
        display: none;
    }

    .mobile-portfolio {
        display: flex;
    }
}

.work {
    justify-content: center !important;
    margin-bottom: 50px;
}


.mainimage {
    border-radius: 50%;
    border: 2px #000 solid;
    height: 192px;
}

#offcanvasExample {
    width: 75% !important;
    max-width: 384px;
}

.rowflex {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    padding: 15px;
    justify-content: space-evenly;
    align-items: center;
}

.rowflex > .description {
    background-color: #0f0f0f;
    color: #fff;
    padding: 10px;
    text-align: left;
    line-height: 2px;
}

.description > h1 {
    text-align: center;
}

figure {
    margin-left: 25px !important;
    margin-right: 25px !important;
    margin-top: 15px !important;
    padding: 15px;
    color: #000
}

.rowflex > a > .img {
    transition: 0.25s;
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 5px;
}


.rowflex > a > .img:hover {
    transition: 0.25s;
    filter: brightness(75%);
}

.testimonial > img {
    object-fit: cover;
}

.koguvcavis-varazdel {
    padding: 38px 0;
    margin-top: 10px;
    color: #adadad;
    text-align: center;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
  }
  .sestim-donials{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }
  
  .sectionesag {
    width: 195px;
    height: 3px;
    background: #adadad;
    margin: 23px auto;
  }
  
  .sagestim-lonials{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .vemotau-vokusipol{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
  }
  .testimonial {
    background: #f9f4f4;
    padding: 28px;
  }
  .testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .gecedanam{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
  }
  .apogered-gselected{
    color: #53b32b;
    margin-bottom: 20px;
  }
  
  @media screen and (max-width:960px) {
  .vemotau-vokusipol{
    flex: 100%;
    max-width: 80%;
  }
  }
  
  @media screen and (max-width:600px) {
  .vemotau-vokusipol{
    flex: 100%;
    max-width: 100%;
  }
  }

.center {
    justify-content: center;
}

.ya-share2 {
    margin: 0px 5px;
}

.navlink {
    color: #333;
    text-decoration: none;
}

.navlink:hover {
    transition: 0.25s;
    color: #000;
}

.navlink:not(hover) {
    transition: 0.25s;
}

.navlink:active {
    text-decoration: underline #000 solid;
}

.columnflex {
    display: flex;
    flex-direction: column;
}